* {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.posts_section {
    width: 1300px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
}

td, th {
    border: 1px solid white;
    font-size: 18px;
}